* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: antiquewhite;
}

.container {
  width: 40rem auto;
  margin: 10rem;
  padding: 2rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f96e3;
  border-radius: 10rem;
  box-shadow: 0.2rem 0.2rem 1rem #000;
}

label {
  font-size: 1.4rem;
  align-self: center;
}

.post-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 25rem;
}

.input-container :first-child {
}

.post-content {
  font-size: 1.6rem;
}

.post-span {
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: -0.6px;
}

.comments-button {
  background: none;
  border: none;
  opacity: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.confirm-button {
  padding: 0.2rem 0.8rem;
}

.reset-button {
  padding: 0.2rem 0.8rem;
}

.title-content {
  color: brown;
  font-size: 2rem;
}

.title-span {
  font-weight: 600;
  font-size: 2.4rem;
  color: #000;
}

.comment {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.comment span {
  font-weight: 600;
}
