* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  color: antiquewhite;
}

.container {
  margin: 24rem 24rem 0 24rem;
  padding: 2rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f96e3;
  border-radius: 10rem;
  box-shadow: 0.2rem 0.2rem 1rem #000;
}

.start-message {
  font-size: 8rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  background: none;
  background-color: azure;
  border: 1px solid #3f96e3;
  font-size: 2rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}
