* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* h1 {
  font-size: 3rem;
  color: antiquewhite;
}

.container {
  width: 40rem auto;
  margin: 10rem;
  padding: 2rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f96e3;
  border-radius: 10rem;
  box-shadow: 0.2rem 0.2rem 1rem #000;
} */

.store-container {
  display: flex;
}

.categories,
.products,
.product-info {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categories {
  width: 20%;
}

.categories h2 {
  margin-bottom: 1rem;
}

.products,
.product-info {
  width: 40%;
}

.product-info h2 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

li:hover {
  background-color: #ddd;
}

.products p {
  font-size: 1.6rem;
  justify-content: center;
  cursor: pointer;
}

.products p:first-child {
  margin-top: 1.6rem;
}

.product-info h2 {
  margin-top: 1rem;
}

.product-info p {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.2rem;
}

button:hover {
  background-color: #45a049;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.order-form h2 {
  margin-top: 2rem;
}

.orders-container {
  margin: 2rem;
}

.my-orders-btn {
  margin-left: 2rem;
}

.delete-order-btn {
  margin-left: 1.4rem;
}
